In [1]:
import pandas as pd

In [3]:
customers = pd.read_csv('Test.csv')
customers.shape

(2627, 10)

In [4]:
customers.head()

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1
0,458989,Female,Yes,36,Yes,Engineer,0.0,Low,1.0,Cat_6
1,458994,Male,Yes,37,Yes,Healthcare,8.0,Average,4.0,Cat_6
2,458996,Female,Yes,69,No,NaN,0.0,Low,1.0,Cat_6
3,459000,Male,Yes,59,No,Executive,11.0,High,2.0,Cat_6
4,459001,Female,No,19,No,Marketing,NaN,Low,4.0,Cat_6

In [5]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2627 entries, 0 to 2626
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               2627 non-null   int64
 1   Gender           2627 non-null   object
 2   Ever_Married     2577 non-null   object
 3   Age              2627 non-null   int64
 4   Graduated        2603 non-null   object
 5   Profession       2589 non-null   object
 6   Work_Experience  2358 non-null   float64
 7   Spending_Score   2627 non-null   object
 8   Family_Size      2514 non-null   float64
 9   Var_1            2595 non-null   object
dtypes: float64(2), int64(2), object(6)
memory usage: 205.4+ KB

In [6]:
customers.columns

Index(['ID', 'Gender', 'Ever_Married', 'Age', 'Graduated', 'Profession',
       'Work_Experience', 'Spending_Score', 'Family_Size', 'Var_1'],
      dtype='object')